body
{
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;

}

div
{
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.Contents
{
	margin-left: 50px;
	margin-right: 50px;
}

.List
{
	border: solid 2px grey;
	margin-top: 20px;
    border-radius: 8px;
    overflow: auto;
}

#Total
{
	text-align: right;
    padding: 3px;
    margin-top: 3px;
    margin-right: 20px;
    font-style: italic;
}

.invisible
{
	display: none;
}

table
{
	border-collapse: collapse;
	border: 1px solid white;
	width: 100%;
}
td
{
	border: 1px solid lightgray;
}
th
{
	padding-top: 10px;
	border: 1px solid lightgray;
}
tr:nth-child(even) {
    background-color: rgba(200, 200, 200, 0.3); /* red, 30% alpha */
}
tr.Selectable:hover
{
    background-color: #D1E1FF;
}
tr.Selected
{
    background-color: #B1C1FF;
}

ul.Buttons
{
    float: right;
    list-style-type: none;
    margin-top: -23px;
}

ul.Buttons li
{
    float: left;
    background-color: #D1E1FF;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-right: 4px;
    display: block;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 1px;
    cursor: pointer;
}
ul.Buttons li:hover
{
    background-color: #B1C1FF;
}

.TableButton
{
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center center;	
}

#modify.TableButton
{
	background-image: url(images/24.png);	
}

#delete.TableButton
{
	background-image: url(images/12.png);	
}

#singleEmail.TableButton
{
    margin-left: 12px;
    background-image: url('images/email.png');
    box-shadow: 2px 2px 2px grey;
}

input
{
	border: 1px solid gray;
}

.LittelTabs
{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
.Invisible
{
	display: none;
}

.Button
{
	display: block;
	border: 1px solid grey;
	background-color: lightgrey;
	display: inline;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px; 
	margin: 5px;
	text-decoration: none;
	color: black;
}
.Button *
{
	border: 0px solid white;
	text-decoration: none;
	color: black;
}

.loading
{
    text-align: center;
    height: 80px;
    line-height: 80px;
}
.loading::after {
	content: ".";
    visibility: hidden;
}
.loading img
{
    vertical-align: middle;
}

div.title
{
    font-weight: bold;
    width: 150px;
    display: inline-block;
}

div.value
{
    display: inline-block;
}

div.NewPeriode div
{
    margin: auto;
    width: 56%;
    overflow: auto;
}

div.NewPeriode div div
{
    float: left;
    padding: 5px;
    margin: auto;
    overflow: auto;

}
div.NewPeriode div.NotSaved
{
    background-color: lightyellow;
}
div.NewPeriode div div.libelle
{
    width: 53%;
}
div.NewPeriode div div.court
{
    width: 10%;
}
div.NewPeriode div div.date
{
    text-align: center;
    width: 15%;
}

div#NewPeriodeFields
{
    padding-top: 10px;
    margin:auto;
    width: 30%;
}

div#NewPeriodeFields div
{
    padding: 3px;
}
div.NewPeriode div.Header
{
    background-color: lightgrey;
}
div.NewPeriode div.Header div
{
    border-color: white;
    border-style: solid;
    border-width: 1px;
}
