#MenuTab
{
	border: solid 0 white;
}

#MenuTab .Tab
{
	border: solid 2px grey;
	display: inline;
	padding: 3px;
	margin: 0px;
	cursor: pointer;
	cursor: hand;
    
    border-top-right-radius: 8px;
}

#MenuTab .SelectedTab
{
	border-bottom: solid 2px white;
}
