#Title
{
	font-size: 24px;
	text-align: center;
}

#sections
{
	font-size: 18px;
	text-align: center;
	width: 500px;
	margin-top: 15px;
	padding: 10px;
	border: 1px grey solid;
	background-color: #EEEEEE;
	margin-left: auto; 
	margin-right: auto; 
}
#sections input.check
{
	margin-left: 20px;
}
#sections input.button
{
	margin-left: 50px;
}

div.name,div.fname
{
	width: 94px;
	text-align: center;
}

div.Identity
{
	width: 100px;
	max-height: 130px;
	overflow: hidden;
	margin-bottom: 5px;
}
div.Identity img
{
	width: 100px;
}

div.Checked,div.Unchecked
{
	width: 100px;
	height: 180px;
	border: 2px solid grey;
	float: left;
	margin: 10px;
	padding: 3px;
}

div.Checked
{
	background-color: #CFFFE3;
	margin-left: 20px;
	border-color: green;
}

div.Unchecked
{
	color: black;
	margin-left: 20px;
	border-color: #8F0013;
}